body {
  background: #fffff8;
  font-family: cursive;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #444;
  justify-content: space-around;
  color: #eee;
  /* grid-gap: 1em; */
  font-size: 20px;
  font-family: cursive;
}

.holder {
}

.entry {
  text-align: center;
  padding: 20px;
  margin-bottom: 25px;
}

#entryHolder {
  background-color: #eee;
  color: #000;
  width: 500px;
  height: 300px;
  border-radius: 30px;
}

#date {
}

#temp {
}

#content {
}

.headline {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
  padding: 15px;
  text-align: center;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #eee;
  color: #000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 200px;
  height: 100px;
  background: #afd907;
  color: #000;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 25px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, aquamarine);
  margin-bottom: 35px;
}

h1 {
  font-size: 36px;
}

textarea {
  background: #eee;
  color: #000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 30px;
  padding: 15px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #000;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
  font-family: "Oswald", sans-serif;
}
